body {
  /* background-color: #f6fbfd; */
  background: 333;
  /* background: linear-gradient(135deg, #000000 0%, #333 48%, #686868 100%); */
  background-image: linear-gradient(to right, #2c3e50, #3498db); 

}

.homeBtn {
  background-color: brown;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  color: brown;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stream {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
